* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-creamy);
  margin: 0;
  font-family: "Flamenco", sans-serif;
}

.intro_container {
  width: 50%;
  align-items: center;
  text-align: left;
  margin: 50px auto;
  display: flex;
}

.intro_container img {
  width: 200px;
}

.intro_texto {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-flow: column wrap;
}

h1, button {
  font-family: "Amaranth", sans-serif;
}

h1 {
  color: var(--main-dark-pink);
  font-size: 4.5rem;
  margin-bottom: 0;
  -webkit-text-stroke: #312A2F 4px;
}

h2 {
  color: var(--main-grey-green);
  font-size: 2rem;
  margin-top: 0;
}

:root {
  --main-pink: #F5AFB7;
  --main-dark-pink: #E1858E;
  --main-grey-green: #6F7560;
  --main-lila: #684954;
  --main-creamy: #F1E8DC;
  --main-light-green: #56c789;
  --main-dark-green: #48463F;
  --main-bordeaux: #4D2128;
  --main-dark-lila: #312A2F;
}

.App {
  text-align: center;
}

.app_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
  gap: 5%;
}


button {
  background-color: var(--main-pink);
  color: var(--main-dark-lila);
  border-radius: 16px;
  border: 2px outset var(--main-dark-pink);
  padding: 10px 20px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: larger;
  cursor: pointer;
  font-size: 1.75rem;
}

.dados {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 55%;
  background-color: var(--main-bordeaux);
  border-radius: 16px;
  border-style: outset;
  border-color: var(--main-lila);
}

@media (max-width: 768px) {
  .App {
    justify-items: center;
    min-width: 500px;
  }
  
  .dados {
    width: 90%;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
  }

  .intro_container {
    width: 90%;
  }

  .intro_container img {
    width: 125px;
    margin: 0 auto;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .menu, .resultados {
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
  }
}

.caja_resultado{
  display:  flex;
  justify-content: center;
  width: 30%;
}