* {
  box-sizing: border-box;
}

:root {
  --main-pink: #F5AFB7;
  --main-dark-pink: #E1858E;
  --main-grey-green: #6F7560;
  --main-lila: #684954;
  --main-creamy: #F1E8DC;
  --main-light-green: #56c789;
  --main-dark-green: #48463F;
  --main-bordeaux: #4D2128;
  --main-dark-lila: #312A2F;
}

.App {
  text-align: center;
  background-color: var(--main-creamy);
}

.dados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}